{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Log In</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <p>You don't have an account yet?<a href="/register">Register</a></p>
{% endblock %}